{% extends 'base.html' %}

{% load bootstrap4 %}

{% load site %}

{% load static from staticfiles %}

{% block content %}

    <div class="col-sm-4 mx-auto box-left">
        <div class="row mt-5 mb-5">
            <div class="col-sm-12">
                <img src="{% static 'images/logo.png' %}" class="img mb-5">
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-sm-12 mt-5">
                <p><h4>Don't have an account ?</h4>
                <div class=" mb-2">Use your email address to sign up now.</div>
                <a class="btn btn-success btn-lg mt-5"
                   href="/sign_up" tabindex="1">Register Now &nbsp;&nbsp;<i class="fas fa-user-plus"></i>&nbsp;</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mx-auto box-right">
        <div class="row mt-5">
            <div class="col-sm-12">
                <h4 class="">Login into your account</h4>
                <form method="post" class="form mb-5 mt-5">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <div class="mt-5">
                            <button type="submit"
                                    class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>&nbsp;Login</button>
                            <a href="/password_reset" class="ml-2 forgot-password-link">Forgot Password</a>
                            <a href="{% url 'sign_up' %}" class="ml-2 forgot-password-link">Register</a>
                        </div>
                    {% endbuttons %}
                </form>
                <p class="footer-text text text-center p-5 mt-3 mx-auto">
                    {% autoescape off %}
                        {{ sc.text }} | {{ sc.year }}
                    {% endautoescape %}
                </p>
            </div>

        </div>
    </div>
{% endblock %}