<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome to Catering & Banquet Plus - Login</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <style>
        body{
            background: #f8f9fa !important;
        }
    </style>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-5 mx-auto mt-5">
            {% bootstrap_messages %}
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-sign-in-alt"></i>&nbsp;Submit</button>
                    <a href="/profile" class="btn btn-danger">Back</a>
                {% endbuttons %}
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-12">
            <hr>
            <small class="ml-5">Copyright &copy; 2020. All rights reserved!</small>
        </div>
    </div>
</div>

{% bootstrap_javascript jquery='full' %}
</body>
</html>
