{% extends 'base_one.html' %}
{% block content %}
    <h1 class="jumbotron-heading mb-4 ml-4">Orders</h1>
    <div class="row ml-2 mr-2 mb-5">
        <div class="col-sm-12">
            <div class="table-responsive" style="background: #FFFF;">
                <table class="table">
                    <thead style="background: #000; color: #FFF;">
                    <tr>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Meals</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in object_list %}
                        <tr>
                            <td>{{ order.order_date }}</td>
                            <td>{{ order.get_status_display }}</td>
                            <td>
                                <table class="table table-bordered">
                                    <tbody>
                                    {% for meal in order.cart.cartitems_set.all %}
                                        <tr>
                                            <td>{{ meal }}</td>
                                            <td>{{ meal.quantity }}</td>
                                            <td>{{ meal.meal.price }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
